﻿<!DOCTYPE html>

<html>
<head>
    <title></title>
    <!-- going off this example: https://scotch.io/tutorials/submitting-ajax-forms-the-angularjs-way -->

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />




</head>
<body ng-app="formApp" ng-controller="formController">

    <form name="directoryForm" ng-submit="processForm()">
        <asp:Literal runat="server" id="testLit" />
        <div class="row container-fluid">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">First Name</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="firstname" ng-model="formData.firstname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-search-input" class="col-2 col-form-label">Last Name</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="lastname" ng-model="formData.lastname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-email-input" class="col-2 col-form-label">Email</label>
                    <div class="col-10">
                        <input class="form-control" type="email" name="email" placeholder="email@domain.com" ng-model="formData.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-url-input" class="col-2 col-form-label">Date of Birth</label>
                    <div class="col-10">
                        <input class="form-control" type="date" name="dateofbirth" placeholder="MM-dd-yyyy" ng-model="formData.dateofbirth">
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
                    <div class="col-10">
                        <input class="form-control" type="tel" name="telephone" placeholder="(123)-456-7890" ng-model="formData.telephone">
                    </div>
                </div>

                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">Address</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="address" ng-model="formData.address">
                    </div>
                </div>

                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">City</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="city" ng-model="formData.city">
                    </div>
                </div>

                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">State</label>
                    <div class="col-10">
                        <select class="form-control" name="state" ng-model="formData.state">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">Zip</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="zip" ng-model="formData.zip">
                    </div>
                </div>



                <div class="form-group">

                    <div class="col-10">
                        <button type="submit" class="btn btn-success btn-lg insert-person" ng-click="insertPerson()"><span class="glyphicon glyphicon-plus"></span> Insert</button>
                        <button type="submit" class="btn btn-success btn-lg hide update-person" ng-click="updatePerson()"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                        <button type="submit" class="btn btn-success btn-lg search-people" ng-click="searchPeople()"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <h3>{{listTitle}}</h3>
                <ul ng-repeat="u in users" class="list-group">
                    <li class="list-group-item justify-content-between">
                        <button type="submit" ng-click="deletePerson(u.id)" class="btn btn-danger btn-xs glyphicon glyphicon-remove pull-right"></button> 
                        <button type="submit" ng-click="loadPerson(u)" class="btn btn-success btn-xs glyphicon glyphicon-pencil pull-right" style="margin-right:.5em"></button> 
                        {{u.firstname}} {{u.lastname}}<br />{{u.address}}<br />{{u.city}} {{u.state}}, {{u.zip}} 
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid col-md-8">
            <pre>
                {{ formData }}
                {{ users }}
            </pre>
        </div>
</form>

    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/controllers.js"></script>
</body>
</html>
